/*CONTACTO*/

.contactanosAhora {
    border-top: 30px;
    border: 2px solid #c3cbbc;
    border-radius: 10px;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px 20px 30px;
    list-style: none;
    display: inline-block;
}

.horariosOnline {
    border: 2px solid #c3cbbc;
    border-radius: 10px;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px 20px 30px;
    list-style: none;
    display: inline-block;
}

.importanteSi {
    border: 2px solid #c3cbbc;
    border-radius: 10px;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px 20px 30px;
    text-align: center;
}

.estiloContacto {
    font-weight: bold;
    font-size: 20px;
    background-color: #e5c8bc;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.mapaUbicacion {
    border: 2px solid #c3cbbc;
    border-radius: 10px;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px 20px 30px;
    text-align: center;
}

.infoContacto {
    font-size: 18px;
}