/*COOKIES Y ALFAJORES*/

.descripcionCya {
    border-top: 30px;
    border: 2px solid $verde;
    border-radius: 10px;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px 20px 30px;
    list-style: none;
    display: inline-block;
}

.estiloCya {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: $rosa;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.infoCya {
    font-size: 20px;
    text-align: center;
}